<form class="add-container" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" class="form-control" name="type" required>
  </div>
  <div class="mb-3">
    <label for="quantity" class="form-label">Quantity</label>
    <input type="text" class="form-control" name="quantity" required>
  </div>
  <div class="mb-3">
    <label for="donationDate" class="form-label">Donation Date</label>
    <input type="date" class="form-control" name="donationDate" required>
  </div>
  <div class="mb-3">
    <label for="bestBefore" class="form-label">Best Before</label>
    <input type="date" class="form-control" name="bestBefore" required>
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status</label>
    <input type="text" class="form-control" name="status" required>
  </div>
  <div class="d-flex justify-content-evenly">
  	<button type="reset" class="btn btn-secondary">Clear</button>
  	<button type="submit" class="btn btn-primary">Add Food Stock</button>
  </div>
</form>